<div class = "container">
  <div class = "row">
    <div class = "col-xs-9">
      <h4 style="width: 250px;background-color: #f0f6da; text-align: center;">新規登録</h4>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :name, "Name" %><br>
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>

        <div class="field">
          <%= f.label :email, "Email" %><br>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :gender, "gender" %><br>
          <%= f.select :gender, ["男性", "女性", "その他"] ,class: "btn btn-primary"%>
        </div>

      　<div class="field">
        　<%= f.label :birthday, "Birthday" %><br>
          <%= f.text_field :birthday, autofocus: true, autocomplete: "birthday" %>
        </div>

        <div class="field">
          <%= f.label :icon, "User icon" %><br>
          <%= f.attachment_field :icon, placeholder: "user icon" %>
        </div>

        <div class="field">
          <%= f.label :password, "password（６文字以上）" %><br>
            <% if @minimum_password_length %>
            <% end %>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "password（確認用）" %><br>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions text-center">
          <%= f.submit "新規登録", class: "btn btn-success " %>
        </div>
          <% end %>

    </div>
  </div>
  <div class = "row">
    <h4 style="width: 180px;background-color: #f0f6da; text-align: center;">既に登録済の方</h4>
  </div>
  <div class = "row">
    <%= link_to "こちら", new_session_path(resource_name) %><span>からログインしてください。</span>
  </div>
</div>
